<div class="container">
  <h2 class="title-lg mb">New question</h2>
  <p class="mb"> for <%= link_to display_nickname(@question.user), user_path(@question.user) %></p>

  <% if @question.errors.any? %>
    <% @question.errors.full_messages.each do |message| %>
      <p class = "mb-sm text-red"><%= message %></p>
    <% end %>
  <% end %>

  <%= render 'form', question: @question %>
</div>
