<h1>Hello world!</h1>
<p><%= @question.body %></p>
<p>user_id:<%= @question.user_id %></p>

<p><%= link_to "Change question", edit_question_path(@question) %></p>

<p><%= link_to "All questions", questions_path %></p>
